.content {
    display: grid;
    /* Обводим зелёной линией */
    border: 2px solid rgb(80, 145, 27);
    /* Скругляем углы на 5 пикселей */
    border-radius: 5px;
    max-width: 100%;
    width: 1000px;
    min-width: 600px;

    grid-template-areas:
        "p p p p p"
        "s s s f f"
        "s s s . ."
        "s s s . ."
    ;

    grid-template-rows: 0.5fr 1fr 1fr 1fr 0.2fr;

    column-gap: 5%;
    row-gap: 5%;
}