.postsBlock {
    grid-area: s;
}

.postsBlock textarea {
    background-color: aliceblue;
    width: 50%;
    height: 100px;
}


.addPostBtn {
    width: 30%;
    height: 35px;
    background-color: gold;
    color: black;
}

.posts {
    max-height: 600px;
    overflow-y: auto;
    margin-top: 10px;
}