.dialogs {
    display: grid;
    grid-template-areas:
        "d m"
        "t t"
    ;
    grid-template-columns: 2fr 10fr;
    /* grid-template-rows: 2fr 10fr; */
}

.dialogsItems {
    padding: 10px;
}

.dialogsItems * {
    color: white;
    text-decoration: none;
}

.dialogsItems .active {
    color: gold;
}

.messages {
    padding: 10px;
}

.messages * {}

.typeMessageBlock {
    grid-area: t;
}

.typeMessageBlock textarea {
    background-color: aliceblue;
    width: 40%;
    height: 50px;
}

.typeMessageBlock button {
    background-color: gold;
    width: 30%;
    height: 35px;
}